/* Cabeçalho */
header, footer{
    background-color: #AE0F18;
}
.navCardapio, .navBebidas, .navSobremesas{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 0.7cm;
    margin: 0cm 0.3cm;
    color: #ffffff;
}
.navCardapio:hover, .navBebidas:hover, .navSobremesas:hover{
    background: #fbb040;
    color: #000000;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.logoHeader, .logoFooter{
    width: 4.5cm;
    height: 3.5cm;
}
.logoHeader{
    margin: 0.3cm 0cm 0.3cm 0.8cm;
}
header > ul{
    display: inline-flex;
}
li{
    list-style: none;
    display: inline-flex;
    margin-left: 2.5cm;
}

/* Main */
::-webkit-scrollbar{
    width: 0.4cm;
}
::-webkit-scrollbar-track{
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #fbb040;
    border-radius: 0.3cm;
}
h1, h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    text-align: center;
}
h5{
    padding-top: 0.3cm;
}
.line-one, .line-two, .line-three{
    padding-bottom: 0.1cm;
    color: #000000;
}
.line-one{
    width: 3cm;
    margin: 0.08cm 0cm 0.8cm 16.35cm;
}
.line-two{
    width: 2.6cm;
    margin: 0.08cm 0cm 0.8cm 16.52cm;
}
.line-three{
    width: 3.8cm;
    margin: 0.08cm 0cm 0.8cm 16cm;
}
.precoSobremesa{
    color: #ffffff;
    background: #AE0F18;
    text-align: center;
    font-weight: 600;
    font-size: 0.7cm;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60%;
    border-radius: 0.2cm;
    border: 0.05cm solid #000000;
    margin: 0.4cm 0cm 0cm 1.2cm;
}
.precoSobremesa:hover{
    color: #000000;
    background: #fbb040;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
#btn{
    margin-left: 28.3cm;
}
p{
    text-align: justify;
    font-size: 0.5cm;
    font-family: Arial, Helvetica, sans-serif;
}
#infosPizza, #infosSobremesas{
    width: 6.615cm;
    height: 6.615cm;
    margin: 0cm 0.397cm 0.397cm 0.397cm;
}
#infosBebidas{
    width: 8.7cm;
    height: 3.8cm;
    margin: 0cm 0.7cm 0.7cm 0cm;
}
#infosPizza, #infosSobremesas, #infosBebidas{
    border: 2px solid #fbb040;
    display: inline-block;
}
.banner, .cardapio, .bebidas, .sobremesas{
    margin-bottom: 1cm;
}
#containerBebidas{
    margin-left: 3.9cm;
}
.saborPizza, .nomeSobremesa{
    background-color: #fbb040;
    width: 247px;
    height: 50px;
    margin-left: -0.3cm;
}

/* Rodapé */
.copyright{
    display: inline-flex;
    margin-left: 8cm;
    font-size: 0.6cm;
    font-variant: small-caps;
    color: #ffffff;
}
.logoFooter{
    margin: 0.3cm 0cm 0.3cm 7.5cm;
    display: inline-flex;
}
footer i{
    font-size: xx-large;
    color: #ffffff;
    margin: 0px 10px 0px 10px;
}
.redesSociais{
    margin-left: 1cm;
}

/* Definições imagens pizzas */ /* bacon - banana - lombo - mussarela */
.frango-catupiry, .marguerita{
    width: 5cm;
    height: 5cm;
    margin: 0.11cm 0cm 0.4cm 0.48cm;
}
.milho-bacon, .quatro-queijos{
    width: 5.3cm;
    height: 5.3cm;
}
.calabresa, .portuguesa, .chocolate{
    width: 5.5cm;
    height: 5.5cm;
}
.pepperoni{
    width: 5.6cm;
    height: 5cm;
    margin: 0.14cm 0cm 0cm 0.16cm;
}
.quatro-queijos{
    margin: -0.07cm 0cm 0cm 0.32cm;
}
.calabresa{
    margin: -0.13cm 0cm 0cm 0.21cm;
}
.chocolate{
    margin: -0.15cm 0cm 0cm 0.23cm;
}
.portuguesa{
    margin: -0.15cm 0cm 0cm 0.21cm;
}
.milho-bacon{
    margin: -0.07cm 0cm 0cm 0.36cm;
}
.bacon, .lombo{
    width: 183px;
    height: 183px;
}
.bacon, .lombo{
    margin: 0.2cm 0cm 0cm 0.54cm;
}
.banana{
    margin: 0.12cm 0cm 0cm 0.5cm;
    width: 187px;
    height: 187px;
}
.mussarela{
    width: 216px;
    height: 186px;
    margin: 0.15cm 0cm 0cm 0.1cm;
}

/* Definições imagens sobremesas */
.imgBrownie{
    width: 3.31cm;
    height: 3.44cm;
    margin: -0.32cm 0cm 0cm 1.38cm;
}
.imgPetit{
    width: 4.1cm;
    height: 3.12cm;
    margin: 0.013cm 0cm 0cm 0.85cm;
}
.imgTorta{
    width: 3.44cm;
    height: 3.57cm;
    margin: -0.4cm 0cm 0cm 1.03cm;
}
.imgDonut{
    width: 4.23cm;
    height: 4.23cm;
    margin: -1.01cm 0cm 0cm 0.77cm;
}