/* Cabeçalho */
header, footer{
    background-color: #AE0F18;
}
.navCardapio, .navBebidas, .navSobremesas, .navSobreNos{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 1.6535435154071rem;
    margin: 0rem 0.70866150660302rem;
    color: #ffffff;
}
.navCardapio:hover, .navBebidas:hover, .navSobremesas:hover, .navSobreNos:hover{
    background: #fbb040;
    color: #000000;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.logoCabecalho, .logoRodape{
    width: 10.629922599045rem;
    height: 8.2677175770353rem;
}
.logoCabecalho{
    margin: 0.70866150660302rem 0rem 0.70866150660302rem 1.8897640176081rem;
}
header > ul{
    display: inline-flex;
}
li{
    list-style: none;
    display: inline-flex;
    margin-left: 5.9055125550252rem;
}
header i{
    font-size: xx-large;
    color: #ffffff;
}

/* Main */
::-webkit-scrollbar{
    width: 0.94488200880403rem;
}
::-webkit-scrollbar-track{
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #fbb040;
    border-radius: 0.70866150660302rem;
}
h1, h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    text-align: center;
    color: #000000;
}
h5{
    padding-top: 0.70866150660302rem;
}
h1, h5, p{
    user-select: none;
}
.linhaUm, .linhaDois, .linhaTres{
    padding-bottom: 0.23622050220101rem;
    color: #000000;
}
.linhaUm{
    width: 7.0866150660302rem;
    margin: 0.18897640176081rem 0rem 1.8897640176081rem 38.622052109865rem;
}
.linhaDois{
    width: 6.1417330572262rem;
    margin: 0.18897640176081rem 0rem 1.8897640176081rem 39.098626963607rem;
}
.linhaTres{
    width: 8.9763790836383rem;
    margin: 0.18897640176081rem 0rem 1.8897640176081rem 37.795280352161rem;
}
#btn-Mais, #mostrarMais{
    margin-left: 68.503945638292rem;
}
#btn-Menos, #mostrarMenos{
    margin-left: 68.503945638292rem;
    display: none;
}
#maisPizzas, #maisBebidas{
    display: none;
}
#pizza, #infosSobremesas{
    width: 15.625986220597rem;
    margin: 0rem 0.90472452342986rem 1.6535435154071rem 0.90472452342986rem;
}
#pizza{
    height: 19rem;
}
#infosSobremesas{
    height: 15.625986220597rem;
}
#infosSobremesas > p{
    text-align: center;
    font-size: 1.297323013206rem;
}
.bebidas p{
    font-size: 1.3rem;
}
p > i{
    color: #0c9b1f;
}
#infosSobremesas > p, .bebidas p, #pizza > p{
    font-weight: 600;
    color: #000000;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#pizza > p{
    font-size: 1.3rem;
    margin-top: 0.4rem;
}
#pizza, #infosSobremesas{
    border: 2px solid #fbb040;
    display: inline-block;
}
.banner, .cardapio, .bebidas, .sobremesas, .sobreNos{
    margin-bottom: 2.3622050220101rem;
}
.saborPizza, .nomeSobremesa{
    background-color: #fbb040;
    width: 15.438rem;
    height: 3.125rem;
    margin-left: -0.73228355682313rem;
}
.bebidas .container{
    margin-left: 10.2rem;
}

/* Definições imagens pizzas */
.quatro-queijos{
    margin: -0.16535435154071rem 0rem 0rem 0.75590560704323rem;
}
.calabresa{
    margin: -0.44708665286131rem 0rem 0rem 0.49606305462212rem;
}
.chocolate{
    margin: -0.35433075330151rem 0rem -0.5rem 0.54330715506232rem;
}
.portuguesa{
    margin: -0.42433075330151rem 0rem 0rem 0.49606305462212rem;
}
.milho-bacon{
    margin: -0.16535435154071rem 0rem 0rem 0.85039380792363rem;
}
.milho-bacon, .quatro-queijos{
    width: 12.519686616653rem;
    height: 12.519686616653rem;
}
.calabresa, .portuguesa, .chocolate{
    width: 12.992127621055rem;
    height: 12.992127621055rem;
}
.frango-catupiry, .marguerita{
    width: 11.81102511005rem;
    height: 11.81102511005rem;
    margin: 0.25984255242111rem 0rem 0.44488200880403rem 1.1338584105648rem;
}
.pepperoni{
    width: 13.228348123256rem;
    height: 11.81102511005rem;
    margin: 0.33070870308141rem 0rem 0rem 0.37795280352161rem;
}
.bacon, .lombo{
    width: 11.438rem;
    height: 11.438rem;
    margin: 0.97244100440202rem 0rem 0rem 1.2755907118854rem;
}
.banana{
    width: 11.688rem;
    height: 11.688rem;
    margin: 0.69386468264121rem 0rem 0rem 1.181102511005rem;
}
.mussarela{
    width: 13.5rem;
    height: 11.625rem;
    margin: 0.65433075330151rem 0rem 0rem 0.23622050220101rem;
}

/* Definições imagens sobremesas */
.brownie{
    width: 10.181103644863rem;
    height: 10.488190297725rem;
    margin: -0.94488200880403rem 0rem 0rem 2.2440947709096rem;
}
.pave{
    width: 9.9212610924423rem;
    height: 9.9212610924423rem;
    margin: -0.35433075330151rem 0rem 0rem 2.1259845198091rem;
}
.torta{
    width: 10.322835946184rem;
    height: 10.629922599045rem;
    margin: -1.0629922599045rem 0rem 0rem 1.417323013206rem;
}
.donut{
    width: 12.354332265113rem;
    height: 12.354332265113rem;
    margin: -2.811023976192rem 0rem 0rem 0.77952765726333rem;
}

/* Definições imagens bebidas */
#coca-cola{
    width: 12.2rem;
    height: 12.2rem;
}
#coca-zero{
    margin-top: 0.2rem;
}
#sprite{
    width: 13rem;
}
#guarana{
    width: 10.7rem;
}
#fanta-uva{
    width: 9.8rem;
}
#suco-goiaba{
    width: 11.6rem;
}
#suco-pessego{
    width: 11.8rem;
}
#suco-uva{
    width: 12.5rem;
}
#fanta, #suco-pessego{
    height: 11.5rem;
}
#suco-pessego, #fanta{
    margin-top: 0.5rem;
}
#coca-zero, #fanta{
    width: 12rem;
}
#sprite, #guarana, #fanta-uva, #suco-goiaba{
    margin-top: 0.1rem;
}
#coca-zero, #sprite, #guarana, #fanta-uva, #suco-goiaba, #suco-uva{
    height: 12rem;
}

/* Rodapé */
.copyright{
    display: inline-flex;
    margin-left: 18.897640176081rem;
    font-size: 1.417323013206rem;
    font-variant: small-caps;
    color: #ffffff;
}
.logoRodape{
    margin: 0.70866150660302rem 0rem 0.70866150660302rem 17.716537665076rem;
    display: inline-flex;
}
footer i{
    font-size: xx-large;
    color: #ffffff;
    margin: 0rem 0.625rem 0rem 0.625rem;
}
.redesSociais{
    margin-left: 2.3622050220101rem;
}